<div class="row">
  <div class="col-2" *ngFor="let input of inputs">
    <div class="form-group">
      <label class="text-center">Input {{input}}</label>
      <input class="form-control"/>
    </div>
  </div>
  <div class="col-2">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="customCheck1">
      <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="customCheck2">
      <label class="custom-control-label" for="customCheck2">Check this custom checkbox</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="customCheck3">
      <label class="custom-control-label" for="customCheck3">Check this custom checkbox</label>
    </div>
  </div>
  <div class="col-2">
    <div class="custom-checkbox mb-1" *ngFor="let checkbox of checkboxes">
       <input type="checkbox" />
       <span class="checkmark"></span>
       <span class="label">Checkbox {{checkbox}}</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <button class="btn btn-primary">
      Enviar
    </button>
  </div>
</div>
